---
import { getEntry } from 'astro:content';
import Icon from '@/components/content/icon.astro';

import {
  defaultLocale,
  getLabelForLocale,
  useTranslation,
  type LocaleCode,
} from '@/i18n';

import Button from '@/components/content/button.astro';
import Dropdown from '@/components/dropdown.astro';
import Logo from '@/components/logo.astro';
import { getPagePath } from '@/collections/page';

const currentLocale =
  (Astro.currentLocale as LocaleCode | undefined) ?? defaultLocale;
const t = useTranslation(currentLocale);

const { locale, slug } = Astro.params;
const page = await getEntry('pages', slug ? `${locale}/${slug}` : `${locale}`);
---

<header
  class='sticky top-0 left-0 z-50 border-b-3 bg-(--color-background)'
  role='banner'
>
  <nav
    class='mx-auto flex h-20 max-w-screen-xl items-center px-4 sm:px-12'
    aria-label={t('header.nav.label')}
  >
    <Logo />

    <div class='ml-auto flex items-center gap-8'>
      {
        page && page.data.locales.length && (
          <Dropdown id='language'>
            <Fragment slot='button'>
              <Icon name='tabler:language' />
              <span>{getLabelForLocale(currentLocale)}</span>
            </Fragment>

            <span class='inline-flex w-full border-b-3 p-2 transition select-none hover:bg-(--color-foreground) hover:text-(--color-background)'>
              {getLabelForLocale(currentLocale)}
              <Icon class='ml-auto' name='tabler:check' />
            </span>
            {page?.data.locales.map((entry) => (
              <a
                class='inline-block w-full p-2 transition hover:bg-(--color-foreground) hover:text-(--color-background) focus-visible:bg-(--color-foreground) focus-visible:text-(--color-background) focus-visible:outline-3 focus-visible:outline-offset-4 focus-visible:outline-(--color-foreground) focus-visible:outline-dashed'
                href={`/${getPagePath(entry.ref)}`}
              >
                {getLabelForLocale(entry.locale)}
              </a>
            ))}
          </Dropdown>
        )
      }
      <div class='hidden sm:block'>
        <Button href={`/${Astro.currentLocale}/#form`}>
          <Icon name='tabler:at' />
          <span>{t('header.nav.cta')}</span>
        </Button>
      </div>
    </div>
  </nav>
</header>
