---
import { getEntry } from 'astro:content';

import { getPagePath } from '@/collections/page';
import {
  defaultLocale,
  getLabelForLocale,
  useTranslation,
  type LocaleCode,
} from '@/i18n';

import Dropdown from '@/components/dropdown.astro';
import { dropdownItem } from '@/components/dropdown';
import Logo from '@/components/logo.astro';
import Button from '@/components/content/button.astro';
import Icon from '@/components/content/icon.astro';

const currentLocale =
  (Astro.currentLocale as LocaleCode | undefined) ?? defaultLocale;
const t = useTranslation(currentLocale);

const { locale, slug } = Astro.params;
const page = await getEntry('pages', slug ? `${locale}/${slug}` : `${locale}`);
---

<header
  class='sticky top-0 left-0 z-50 border-b-3 bg-(--color-background)'
  role='banner'
>
  <nav
    class='mx-auto flex h-20 max-w-screen-xl items-center px-4 sm:px-12'
    aria-label={t('header.nav.label')}
    x-data='{ theme: $store.theme.get() }'
    x-init='$watch("$store.theme.state", (value) => (theme = $store.theme.get()))'
  >
    <Logo />

    <div class='ml-auto flex items-center gap-4'>
      <Dropdown id='theme'>
        <Fragment slot='button'>
          <Icon name='tabler:contrast-filled' />
          <span class='sr-only' x-text='$store.theme.get()'></span>
        </Fragment>

        <button
          class:list={[dropdownItem()]}
          @click='$store.theme.set("light")'
        >
          <Icon name='tabler:sun' />
          <span>Light</span>
          <Icon
            class='ml-auto'
            name='tabler:check'
            x-show='$store.theme.state === "light"'
          />
        </button>
        <button class:list={[dropdownItem()]} @click='$store.theme.set("dark")'>
          <Icon name='tabler:moon' />
          <span>Dark</span>
          <Icon
            class='ml-auto'
            name='tabler:check'
            x-show='$store.theme.state === "dark"'
          />
        </button>
        <button class:list={[dropdownItem()]} @click='$store.theme.set("auto")'>
          <Icon name='tabler:device-desktop' />
          <span>System</span>
          <Icon
            class='ml-auto'
            name='tabler:check'
            x-show='$store.theme.state === "auto"'
          />
        </button>
      </Dropdown>

      {
        page && page.data.locales.length && (
          <Dropdown id='language'>
            <Fragment slot='button'>
              <Icon name='tabler:language' />
              <span class='sr-only'>{getLabelForLocale(currentLocale)}</span>
            </Fragment>

            <span class:list={[dropdownItem()]}>
              {getLabelForLocale(currentLocale)}
              <Icon class='ml-auto' name='tabler:check' />
            </span>
            {page?.data.locales.map((entry) => (
              <a
                class:list={[dropdownItem()]}
                href={`/${getPagePath(entry.ref)}`}
              >
                {getLabelForLocale(entry.locale)}
              </a>
            ))}
          </Dropdown>
        )
      }

      <div class='hidden sm:block'>
        <Button href={`/${Astro.currentLocale}/#form`}>
          <Icon name='tabler:at' />
          <span>{t('header.nav.cta')}</span>
        </Button>
      </div>
    </div>
  </nav>
</header>
