---
import '@fontsource-variable/azeret-mono';
import '@/styles/base.pcss';
import { SEO } from 'astro-seo';

import Header from '@/components/page/header.astro';
import Footer from '@/components/page/footer.astro';

const COMPANY_NAME = 'soren.codes';
const COMPANY_DESCRIPTION =
  'Sören Maschmann - software engineer & digital explorer - Transforming visions into reality.';
const COMPANY_IMAGE = `${Astro.url.origin}/og-image.jpg`;
const COMPANY_IMAGE_ALT = `${COMPANY_NAME} logo`;
const COMPANY_TWITTER = 'soren_codes';

interface Props {
  title?: string;
  noindex?: boolean;
  openGraph?: {
    title: string;
    image?: {
      url: string;
      alt: string;
    };
    description?: string;
  };
}

const {
  title,
  noindex,
  openGraph = {
    title: COMPANY_NAME,
    image: {
      url: `${Astro.url.origin}/og-image.jpg`,
      alt: `${COMPANY_NAME} logo`,
    },
    description: COMPANY_DESCRIPTION,
  },
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link rel='sitemap' href='/sitemap-index.xml' />

    <SEO
      {title}
      titleTemplate=`%s - ${COMPANY_NAME}`
      titleDefault={COMPANY_NAME}
      description={COMPANY_DESCRIPTION}
      {noindex}
      charset='UTF-8'
      openGraph={{
        basic: {
          title: openGraph.title,
          type: 'website',
          image: openGraph.image?.url ?? COMPANY_IMAGE,
        },
        optional: {
          description: openGraph.description,
        },
        image: {
          alt: openGraph.image?.alt ?? COMPANY_IMAGE_ALT,
        },
      }}
      twitter={{
        card: 'summary',
        site: COMPANY_TWITTER,
        creator: COMPANY_TWITTER,
        title: openGraph.title,
        image: openGraph.image?.url,
        imageAlt: openGraph.image?.alt,
        description: openGraph.description,
      }}
    />
  </head>
  <body id='top'>
    <Header />

    <main
      class='dots mx-auto flex min-h-screen max-w-screen-xl flex-col divide-y-3 xl:border-x-3'
    >
      <slot />
    </main>

    <Footer />
  </body></html
>
